
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="homestyle.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">
<style>
body {
  font-family: "Poppins", sans-serif;
  background-color: white;
   overflow-y: hidden;
   overflow-x: hidden;
}
</style>
    </head>
    <body>
         <div class="d-flex flex-row">
            <div>
               
         <img src="https://media.istockphoto.com/id/1129644198/vector/recruitment-modern-line-design-style-vector-illustration.jpg?s=612x612&w=0&k=20&c=ZBHS-k5azwnflpGW5gRmseB4CxUOpUUmGA3I45mJk9E="  height=450px width=700px  alt="hello">
         </div><div class="m-4 mt-60  align-self-center" >
          
        <img src="https://i.pinimg.com/originals/04/62/84/0462841ea59ce3f31c8d349e670c48f5.gif" height=50px width=70px style="margin-left:-160px;"> <img src="https://cdn.dribbble.com/users/392655/screenshots/4742479/jonny_characterdesign_v01.gif" height=50px width=70px style="margin-left:-200px;"> <h1 class="mt-96" style="height=50px width=70px ;margin-left:-360px;" ><b>PERSONAL DETAILS</b></h1>
         <div class="box" style="width: 400px;  
    height:360px;
     
    margin: auto; 
    margin: 20;  
    box-shadow: 5px;
    padding: 80px;  
    background:#9DD9F3 ;  
    border-radius: 30px ; 
    margin-top:10px; 
    font-family:cursive;
  ">A personal details app is an application that helps you store, organize and access different types of personal information, such as passwords, account information, credit card numbers, postal addresses or other details.</h6>
         </div></div></div>
    </body>
            
  

</html>
