<html>
    <head>
         <link rel="stylesheet" type="text/css" href="~/css/wrong.css"> 
    </head>
    <body>
        
      <div class="login">
    
<h1>OOPS 😞</h1>
<button type="button" class="btn btn-primary rounded-pill" style="margin-top:50px;margin-left:40px;"id="btn" onclick="location.href='@Url.Action("Login","Home")'">Try again! </button> 

</div>
 </body>
 </html>   



