nav {
    font-family: "Poppins", sans-serif;
   
    height: 60px;
  }
.nav-item{
     margin-right: 5px; 
   
}

.signup{
  height:500px;
  width:450px;
  margin-left: 450px;
  margin-right:0px;
  margin-top: 30px;
  background-color: lightcyan;
  box-sizing:border-box;
  border: 1px solid;
  overflow: visible;
  border-radius:40px;
  
  padding:20px;
  
  
}
body{
  background-color: lightcoral;
}
.btn{
  text-align: center;
 
}
