 .login{  
    width: 200px;  
    height:110px;
    overflow: hidden;  
    margin: auto; 
    margin: 20;  
     box-shadow: 2px; 
    padding: 80px;  
    background:red;  
    background-color: #f7a4a4;
    border-radius: 30px ;  
    box-sizing: content-box; 
    margin-top: 130px;
    margin-left: 375px;
      
}   
